# Email Configuration (SMTP)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com (issme apne account ka email dalna hai)
SMTP_PASS=your_gmail_app_password (issme apne account ka app password dalna hai)

# Database Configuration
DB_HOST=localhost
DB_USER=root (issme apne mysql ka username dalna hai)
DB_PASS=your_mysql_password (issme apne mysql ka password dalna hai)
DB_NAME=spxbank